	/*
	================================================
	CSS Zen Garden theme 
	================================================
	Handcrafted by yilian zhang
	
	Last updated on 09/2020
	================================================
	01	Color
	02	Typography
	03	Layout
	04	Other decoration
  05  Media Queries
	================================================
	*/

	/* ---------------------------------------------------------------------------------------------------------- 
	01 Color ----------------------------------------------------------------------------------------
	---------------------------------------------------------------------------------------------------------- */
html{
  background-color:hsla(320, 70%, 72%, 0.5);
  padding:5%;
}
body{
  background-color: hsl(320, 84%, 66%,0.7);
  color: hsla(100,10%,10%,0.9)
}
header h1{
  background-color:hsla(346,94%,36%);
}
div.preamble, div.requirements, div.benefits{
  color:rgb(158, 24, 199);
  background-color: hsla(183,94%,36%,0.9);
}
/**footer{

}
div.participation{

}**/
aside.sidebar{
  background-color: hsla(183,94%,36%,0.9);
}




/** 02 Typography -- Font  **/
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
div.summary{
  font-family: 'Abel', sans-serif;
}
p{
  font-size: 2.25em; font-weight: 200; letter-spacing: 1px;
  line-height: 1em; padding: 0.5em 0 0.25em 0;
}
a{
  text-decoration: none;

}
h1{
  text-indent: 9px;
}


/** 03 Position, Size, layout **/

div,
article,
section,
header,
footer,
nav,
figure,
li{
  position: relative;
}
aside.sidebar{
  position:absolute;
  top: 3%;
  right: 0;
  width: 25%;
}
section.intro{
  width:60.7%;
  padding: 5%;
}
section.intro, div.preamble{
  margin-left: -18%;
  padding: 5% 5% 5% 30%;

}
div.page-wrapper{
  padding: 5%;
  z-index:2;
}
div.extra1{
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 400px;
  background-color: hsla(227,15%,24%,0.5);
  z-index: 1;
}

div.explanation{
  float:left;
  width: 40%;
  padding: 5%;
}
div.participation{
  margin-left: 50%;
  width: 40%;
  padding: 5%;
}
h2{
  border: 3px dashed black;
}
a{
  border-bottom: 1px inset black;
}
footer{
  clear:both;
  color:#fff;
  padding: 10em 5%;
  width: 50%;
  margin: 10em auto;
}
#zen-resources {
  position: fixed;
  top:0px;
  left: 0px;
  right: 0px;
  background-color: white;
}
#zen-resources h3{
  display:none;
}
#zen-resources ul li{
  display:inline-block;
  padding: 3%;
  background-color: hsla(183,94%,36%,0.9);
}
#zen-resources a{
  border:0px;
}
a:hover{
  border: 5px solid brown;
}
p{
  //visibility: hidden;
}
h3:hover ~p{
  visibility: visible;
}
p::first-letter{
  font-size:300%;
  
}
p:nth-child(2n+1){
  background-color: hsla(320, 70%, 72%, 0.5);
}
/*
tr:nth-child(2n)--even rows
*/
/*
textshadow boxshadow border radius */
h3{
  text-shadow: 0.3em 0.3em 0.1em bisque;
  border: black solid 1px;
  border-radius: 10px 20px 30 px 30px;
  box-shadow: -10px -20px 10px black;
  transition: ease-in-out 2s, transform 3s; /*main element*/
}
h4:hover{
  transform: translate(10px, 10px);
}
h3~p{
  opacity: 1;
  transition: ease-in-out 3s, all 3s;
}
h3:active ~p{
  opacity: 1;
  transform: scale(0,1);
}



/** 04  Other decoration -- background Links **/ 

/* animation*/
@keyframes movecolor{
  from{background-image: linear-gradient(yellow,green,white)};
  30%{bakcground-image: linear-gradient(black,blue,green)};
  60%{bakcground-image: linear-gradient(pink,red,brown)};

}
h2{
  background-image: linear-gradient(yellow,whtie,green);
  animation: 4s infinite running movecolor;
}


/**	05	Media  **/
header>h1{
  background-image: url(../img/zengarden.gif);
}