	/*
	================================================
	CSS Zen Garden theme 
	================================================
	Handcrafted by yilian zhang
	
	Last updated on 09/2020
	================================================
	01	Color
	02	Typography
	03	Layout
	04	Other decoration
  05  Media Queries
	================================================
	*/

	/* ---------------------------------------------------------------------------------------------------------- 
	01 Color ----------------------------------------------------------------------------------------
	---------------------------------------------------------------------------------------------------------- */
html{
  background-color:hsla(320, 70%, 72%, 0.5);
  padding:5%;
}
body{
  background-color: hsl(320, 84%, 66%,0.7);
  color: hsla(100,10%,10%,0.9)
}
header h1{
  background-color:hsla(346,94%,36%);
}
div.preamble, div.requirements, div.benefits{
  color:rgb(158, 24, 199);
  background-color: hsla(183,94%,36%,0.9);
}
/**footer{

}
div.participation{

}**/
aside.sidebar{
  background-color: hsla(183,94%,36%,0.9);
}




/** 02 Typography -- Font  **/
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
div.summary{
  font-family: 'Abel', sans-serif;
}
p{
  font-size: 2.25em; font-weight: 200; letter-spacing: 1px;
  line-height: 1em; padding: 0.5em 0 0.25em 0;
}
a{
  text-decoration: none;

}
h1{
  text-indent: -999px;
}


/** 03 Position, Size, layout **/

div,
article,
section,
header,
footer,
nav,
figure,
li{
  position: relative;
}
aside.sidebar{
  position:absolute;
  top: 3%;
  right: 0;
  width: 25%;
}
section.intro{
  width:60.7%;
  padding: 5%;
}
section.intro, div.preamble{
  margin-left: -18%;
  padding: 5% 5% 5% 30%;

}
div.page-wrapper{
  padding: 5%;
  z-index:2;
}
div.extra1{
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 400px;
  background-color: hsla(227,15%,24%,0.5);
  z-index: 1;
}

div.explanation{
  float:left;
  width: 40%;
  padding: 5%;
}
div.participation{
  margin-left: 50%;
  width: 40%;
  padding: 5%;
}
h2{
  border: 3px dashed black;
}
a{
  border-bottom: 1px inset black;
}
footer{
  clear:both;
  color:#fff;
  padding: 10em 5%;
  width: 50%;
  margin: 10em auto;
}



/** 04  Other decoration -- background Links **/ 



/**	05	Media  **/
header>h1{
  background-image: url(../img/zengarden.gif);
}